/* Hero Style */

.heroall {
    margin: 50px 140px;
}

#hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgb(7, 2, 17),
            rgba(7, 2, 17, 0)), url(../images/banner-img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#hero .hero-info {
    text-align: center;
    margin: 177px 344px;
}


.hero-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
}

.subt {
    margin-bottom: 18px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

/* Offer Style */

.offer-info {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.off-subt {
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin: 45px;
}

.off-title {
    margin-top: 0px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.welcome {
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/vector.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px;
}

.welcome-info {
    display: flex;
    gap: 200px;
    /* margin: 68px 126px; */

}

.welcome-title {
    width: 642px;
    /* height: 176px; */
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    /* margin: 266px; */
    /* margin-top: 126px; */
    margin-bottom: 0px;
}

.description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-left: 266px; */
    margin-top: 24px;
    width: 700px;
}

.join {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    /* text-align: center; */
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: 32px;
}

.datetime {
    display: flex;
    margin: 140px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.datetimeinfo {
    display: flex;
    flex-direction: column;
}

.datetimetext {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.highlight {
    color: red;
}

.joinbtn {
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    background-color: red;
    border-radius: 10px;
    border: none;
}

.nextoffer {
    display: flex;
    align-items: center;
    margin: 140px 120px;
    justify-content: space-between;
}

.leftinfo {
    width: 400px;
}

.offsub {
    color: red;
    font-size: 24px;
    margin-bottom: 16px;
}

.offhead {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 22px;
}

.offdes {
    font-size: 20px;
    color: gray;
    margin-top: 0px;
}

.roundimage {
    border: 8px solid red;
    border-radius: 50%;
    padding: 20px;
}

.holiday {
    width: 100%;
}

.holidaybox {
    background-image: url(../images/rectangle9.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 140px 0px 140px;

}

.holidaytext {
    margin-left: 100px;
    margin-right: 100px;
}

.giftbox {
    width: 50%;

}

.holidaysub {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 5px;
}

.holidaytitle {
    margin-top: 0px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    margin-bottom: 0px;
}

.holides {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    margin-top: 28px;
}

.twoimg {
    display: flex;
    justify-content: space-around;
}

.discount50 {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
}

.portfolio {
    margin: 120px 140px;
}

.ptext {
    text-align: left;
}

.portsub {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 0px;
}

.port-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

.port-des {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    width: 800px;
}

.port-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.port-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.footinfo {
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0px 140px;
}

.footer {
    height: 616px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot {
    width: 896px;
}

.subscribe-box {
    display: flex;
    width: 400px;
    /* adjust width as needed */
    border-radius: 50px;
    overflow: hidden;
}

.email-input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
}

.subscribe-btn {
    background-color: red;
    /* black */
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
}

.subscribe-btn:hover {
    background-color: #111;
}

/* footer style */

.foot2info{
    display: flex;
    flex-direction: column;
    background-color: #070211;
    background-size: 100%;
}

.contact{
    margin: 50px 140px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin: 50px 140px;
}
.copyright{
    color: white;
}

.socials{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 30px;
}
.uns{
    color: white;
    cursor: pointer;
}
.uns:hover{
    color: red;
}

.icon{
        width: 16px; /* adjust size */
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}